<!-- Default home page -->
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h4>Your List</h4>
      <div class="list-group">
        <ol>
          <li><a href="#">Ocean's Eleven</a></li>
          <li><a href="#">The Dark Knight</a></li>
          <li><a href="#">The Lord of th...</a></li>
          <li><a href="#">The Matrix</a></li>
          <li><a href="#">Garden State</a></li>
          <li><a href="#">Fight Club</a></li>
          <li><a href="#">The Boondock S...</a></li>
          <li><a href="#">Star Wars: The...</a></li>
          <li><a href="#">Spider-Man 2</a></li>
          <li><a href="#">Saving Private...</a></li>
          <li><a href="#">Harry Potter a...</a></li>
          <li><a href="#">Closer</a></li>
          <li><a href="#">The Curious Ca...</a></li>
          <li><a href="#">Forrest Gump</a></li>
          <li><a href="#">Ocean's Twelve</a></li>
          <li><a href="#">The Bourne Ult...</a></li>
          <li><a href="#">Men in Black</a></li>
          <li><a href="#">Harry Potter a...</a></li>
          <li><a href="#">V for Vendetta</a></li>
          </ul>
      </div>
      </hr>
      <p>View all the movies I've seen</p>
      </hr>
      <p>View all the movies I have not seen available on Sorta Movie</p>
    </div>
    <div class="row col-lg-8 col-md-8 col-sm-8">
      <h1 class="text-center">Choose Wisely</h1>
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rate-popular" data-toggle="tab">Popular Movies</a></li>
        <li class=""><a href="#my-movies" data-toggle="tab">My Movies</a></li>
        <li class=""><a href="#new-releases" data-toggle="tab">New Releases</a></li>
      </ul>
      <div class="tab-pane fade active in" id="rate-popular">
        <div class="col-lg-6 col-md-6 col-sm-6 left">
          <img src="http://posters.flickchart.com/posters/2005/posters/wedding_crashers_ver10.jpg" class="img-responsive center-block">
          <h3 class="text-center"> Wedding Crashers (2005) </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 right">
          <img src="http://posters.flickchart.com/posters/1999/posters/3F81511C16-aea7.jpg" class="img-responsive center-block">
          <h3 class="text-center"> The Boondock Saints (1999) </h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <p class="text-center"><a class="btn btn-default btn-xs">havn't seen it</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <p class="text-center"><a class="btn btn-default btn-xs">havn't seen either</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <p class="text-center"><a class="btn btn-default btn-xs">havn't seen it</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div>
        <h4>Dude, Where's My Car?</h4>
        <p>Moved up from <span class="move">230</span> to <span class="move">190</span> on your list</p>
        </ hr>
        <p>Rerank</p>
        </ hr>
        <p>Global Ranking</p>
        </ hr>
        <p>Wins <span>42%</span> of the time</p>
        </ hr>
        <p>Total Times Ranked: <span>929201</span></p>
      </div>
    </div>
  </div>
</div>